- content_for(:head){ "Monolith - Billings - Statistics"}
.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{href:monolith_path} Monolith
        %li.breadcrumb-item
          %a{href:monolith_invoices_path} Invoices
        %li.breadcrumb-item.active Statistics
  .row
    .col-12
      %h3 Basic stats for Invoices
      %hr
      %table.table.table-bordered
        %thead
          %tr
            %th Item
            %th Value
        %tbody
          %tr
            %td Invoice-able users
            %td #{ @invoiceable_users}
      %h4 Ageing
      %table.table.table-bordered
        %thead
          %tr
            %th Due in the future
            %th Overdue within 30 days
            %th Overdue within 31-90 days
            %th overdue more >120 days
        %tbody
          %tr
            %td #{number_to_currency(@ageing[:"0"], unit:"RM", negative_format:"(%u%n)")}
            %td #{number_to_currency(@ageing[:"30"], unit:"RM", negative_format:"(%u%n)")}
            %td #{number_to_currency(@ageing[:"90"], unit:"RM", negative_format:"(%u%n)")}
            %td #{number_to_currency(@ageing[:"120+"], unit:"RM", negative_format:"(%u%n)")}
      %h4 Top Users
      %table.table.table-bordered
        %thead
          %tr
            %th User
            %th Amount
        %tbody
          - @top_users.each do |row|
            %tr
              %td #{row[:user_name]}
              %td #{number_to_currency(row[:total_billing], unit:"RM", negative_format:"(%u%n)")}
      %h4 Top User Activities
      %table.table.table-bordered
        %thead
          %tr
            %th User
            %th Transactions
        %tbody
          - @top_user_activities.each do |row|
            %tr
              %td #{row[:user_name]}
              %td #{row[:invoice_activities]}
