.container
  .row
    .col-xs-12.col-md-6
      %h2 Resend confirmation instructions
  .row
    .col-xs-12.col-md-6
      .card
        .card-block
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, :class => 'form-control',
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
            = f.submit "Resend confirmation instructions", :class => 'btn btn-primary'
  .row
    .col-xs-12
      = render "devise/shared/links"
