-# only owner can visit this page
.container
  .row
    .col-xs-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{ :href => root_path } JomGolf
        %li.breadcrumb-item
          %a{ :href => user_path(@user)} #{ @user.name }
        %li.breadcrumb-item.active
          %a Edit Profile
  .row
    .col-md-6.col-xs-12
      .card
        %ul.list-group.list-group-flush
          %li.list-group-item
            %a{ :href => user_profile_picture_path(@user)}
              %img.center-block.img-circle.img-responsive{ :src => @user.image }
          %li.list-group-item
            Click Picture to Update Profile Picture
  .row
    .col-md-6.col-xs-12
      = form_for @user do |f|
        .form-group
          %label Email
          = f.text_field :email, :class => "form-control", :disabled => true
        .form-group
          %label Home Club
          = f.text_field :home_club, :class => "form-control"
        .form-group
          %label Handicap
          = f.number_field :handicap, :class => "form-control"
        .form-group
          %label Profile Name
          = f.text_field :name, :class => "form-control"
        %button.btn.btn-primary{ :type => "submit"} Update Profile
