- content_for(:head){ "#{@user.name || @user.email} - "}
.container
  .row
    .col-xs-12
      %h3.display-4 #{@user.name || @user.email}
.container
  .row
    .col-xs-12.col-md-4
      .card
        %img.card-img-top.img-responsive{ :src => (@user.image.nil? || @user.image.empty?) ? '/images/users/default.jpg' : @user.image }
      - if user_signed_in? && current_user.id == @user.id then
        .card
          .card-header Action
          %ul.list-group.list-group-flush
            %li.list-group-item
              = link_to "Edit Profile", edit_user_path(current_user)
            - if current_user.provider.nil? then
              %li.list-group-item
                = link_to "Change Password", edit_user_registration_path
      .card
        .card-header Info
        .card-block
          %table.table
            %tbody
              %tr
                %th Name
                %td #{ @user.name }
              %tr
                %th Handicap
                %td #{ @user.handicap  || "None Yet"}
      = react_component "UserMembershipCard", {current_user:current_user, memberships_path:user_memberships_path(@user)}
    .col-xs-12.col-md-6
      .card
        .card-header Gangs
        .card-block
          %p.card-text
            - if @hangouts.empty? then
              None yet...
            - else
              %ul
                - @hangouts.each do |golf_club|
                  %li #{link_to golf_club.name, golf_club_path(golf_club)}
      = react_component "ReviewList", { showHeader:true, displayMode:'reviewer', reviews_path:@reviews_path}
