- content_for(:head){ "Marketplace/Item Details -" }
- lorem = NameGenerator::LOREM.split(' ')
- item_name = (0..(rand(3)+1)).each.map{ |x| lorem[rand(lorem.length)].titleize }.join(' ')
.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{href:root_path} JomGolf
        %li.breadcrumb-item
          %a{href:'/marketplace'} Marketplace
        %li.breadcrumb-item.active #{item_name}
    .col-12.col-md-6
      %img.img-responsive{src:"https://s3-ap-southeast-1.amazonaws.com/jomgolf-marketplace/marketplace/#{rand(20)}.jpg"}
    .col-12.col-md-6
      .card
        %ul.list-group.list-group-flush
          %li.list-group-item
            %h2
              = number_to_currency(rand*([100,1000,10000][rand(2)]), {unit:'RM '})
          %li.list-group-item
            %h3.text-success
              In Stock
            Shipping is around RM 20.00 within Malaysia
          %li.list-group-item
            %ul
              - (0..(rand(5) + 3)).each do
                %li #{ (0..(rand(20)+ 10)).each.map{ |x| lorem[rand(lorem.length)]}.join(' ') }
          %li.list-group-item
            %button.btn.btn-primary{type:'button'}
              %i.fa.fa-shopping-cart
              Add to Cart
    .col-12
      %h2 Relate Items
      .card-deck
        - (0..3).each do
          .card{style:'width:20em'}
            %img.img-responsive.card-img-top{ src:"https://s3-ap-southeast-1.amazonaws.com/jomgolf-marketplace/marketplace/#{rand(20)}.jpg", style:'height:180px;display:block'}
            .card-body
              %h4 #{ (0..(rand(3)+2)).map{ |x| lorem[rand(lorem.length)]}.join(' ')}
              %p.card-text
                = number_to_currency(rand*([100,1000,10000][rand(2)]), {unit:'RM '})
