.container
  .row
    .col-xs-12
      = render :template => "welcome/_queryForm.tpl.haml"
  .row{ :style => 'padding-top:15px;'}
    - @clubs.each do |club|
      .col-xs-12.col-md-6.col-lg-6
        .card
          %a{ :href => golf_club_path(club), :target => "_blank"}
            %img.img-responsive.card-img-top{ :src => "images/golf_course_#{rand(1..4)}.jpg", :alt => "Golf Club Image"}
            .card-img-overlay{ :style => 'color:white;'}
              %h4.card-title
                = number_to_currency(club.charge_schedules.first.session_price, unit: "RM")
            .card-block
              %h4.card-title #{club.name}
              %p #{ club.address}
