- require "assets/name_generator"
.container
  .row
    .col-12
      %h1 Collapse Test
    .col-12
      %h2 Test One (parent in)
      #accordion-1{role:'tablist'}
        - (1..4).each do |num|
          .card
            .card-header
              %h5
                %a{data:{toggle:'collapse', parent:'#accordion-1'}, href: "#collapse-1-#{num}"} Heading #{num}
            .collapse{id:"collapse-1-#{num}", role:'tablist'}
              .card-block #{ NameGenerator::LOREM}
  .row
    .col-12
      %h2 Test Two (parent out)
  .row
    %ul.list-group.col-4
      - (1..4).each do |num|
        %li.list-group-item
          %h5
            %a{data:{toggle:'collapse', parent:'#accordion-2'}, href: "#collapse-2-#{num}"} Heading #{num}
    #accordion-2.col-8{role:'tablist'}
      - (1..4).each do |num|
        .card
          .collapse{id:"collapse-2-#{num}", role:'tablist'}
            .card-block #{ NameGenerator::LOREM}
