= form_for @club do |f|
  .row
    .col-md-6.col-xs-12
      .card
        %h3.card-header Club Settings
        .card-block
          %fieldset.form-group
            %label Club Name
            = f.text_field :name, :class => 'form-control'
          %fieldset.form-group
            %label Description
            = f.text_area :description, :class => 'form-control', :rows => 10
          %fieldset.form-group
            %label Address
            = f.text_area :address, :class => 'form-control', :rows => 4
          %fieldset.form-group
          %fieldset.form-group
            %label Open Time
            = f.text_field :open_hour, :class => 'form-control timepicker'
          %fieldset.form-group
            %label Close Time
            = f.text_field :close_hour, :class => 'form-control timepicker'
        %h3.card-header Price Schedule Settings
        .card-block
          %h4.card-title
            Default schedule
            %small This price will be applied at any time, any day
          %fieldset.form-group
            - random_id = SecureRandom.hex(6)
            %label Flight Price
            .input-group
              %span.input-group-addon MYR
              %input.form-control{ :type => 'number', :name => "price_sch[#{random_id}][price]" }
              %span.input-group-addon .00
          %fieldset.form-group
            %label Caddy Price
            .input-group
              %span.input-group-addon MYR
              %input.form-control{ :type => 'number', :name => "price_sch[#{random_id}][caddy]" }
              %span.input-group-addon .00
          %fieldset.form-group
            %label Buggy Price
            .input-group
              %span.input-group-addon MYR
              %input.form-control{ :type => 'number', :name => "price_sch[#{random_id}][buddy]" }
              %span.input-group-addon .00
          %fieldset.form-group
            %label Insurance Price
            .input-group
              %span.input-group-addon MYR
              %input.form-control{ :type => 'number', :name => "price_sch[#{random_id}][insurance]" }
              %span.input-group-addon .00
        %h3.card-header Flight Schedule Settings
        .card-block
          - random_id = SecureRandom.hex(6)
          %h4.card-title Default schedule
          %fieldset.form-group
            %label Days Available
            %br
            .btn-group{:'data-toggle' => 'buttons'}
              - DateTime::DAYNAMES.each do |day|
                %label.btn.btn-secondary
                  %input{:type => "checkbox", :name => "flight_sch[#{random_id}][days][]", :autocomplete => "off", :value => day } #{day}
          %fieldset.form-group
            %label Flight Time
            = react_component 'FlightTimes', { times:['9:00am'], randomId:random_id}
          %fieldset.form-group
            %label Min Pax per Flight
            %select.form-control{ :name => "flight_sch[#{random_id}][min_pax]"}
              = options_for_select [2,3,4]
          %fieldset.form-group
            %label Max Pax per Flight
            %select.form-control{ :name => "flight_sch[#{random_id}][max_pax]"}
              = options_for_select [4,5,6]
  .row
    .col-md-6.col-xs-12
      %button.btn.btn-primary{:name => 'submit'} Submit
:javascript
  $('.timepicker').each( function(){
      $(this).timepicker();
  });
