.jumbotron.jumbotron-fluid{ :style => "background: url(/images/golf_course_#{rand(1..4)}.jpg); height:70vh; background-size:cover"}
  .container
.container
  .row
    .col-xs-12.col-md-8
      %h1 #{ @club.name }
      %div
        = simple_format(@club.description)
    .col-xs-12.col-md-4
      .card
        .card-block
          %h4 Availablity
          = react_component "GolfCardTimesGroup", { teeTimes: @tee_times}
        .card-block
          %h4.card-title Flight Prices
        .ul.list-group.list-group-flush
          %li.list-group-item Pax #{ number_to_currency(@charge_schedule.session_price, :unit => "RM")}
          %li.list-group-item Caddy #{ number_to_currency(@charge_schedule.caddy, :unit => "RM") }
          %li.list-group-item Buggy #{ number_to_currency(@charge_schedule.cart, :unit => "RM") }
          %li.list-group-item Insurance #{ number_to_currency(@charge_schedule.insurance, :unit => "RM") }
