- content_for(:head){ "#{@club.name} -" }

%section{ :data => { :'featherlight-gallery' => true, :'featherlight-filter' => 'a'}}
  %a{ :href => @jumboPhoto[:url], :'data-caption' => @jumboPhoto[:caption] }
    .jumbotron.jumbotron-fluid{ :style => "background: url(#{@jumboPhoto[:url]}); height:70vh; background-size:cover"}
      .container
  .hidden-xs-up
    - if !@photos.empty? then
      - @photos[1..-1].each do |photo|
        %a{ :href => photo.avatar.url, :'data-caption' => photo.caption}
.container
  .row
    .col-xs-12.col-md-8
      %h1 #{ @club.name }
      %div
        = simple_format(@club.description)
    .col-xs-12.col-md-4
      .card
        .card-block
          %h4 Availablity
        = react_component "GolfSchedule", {crsfToken:form_authenticity_token,
          club: @result[:club],
          queryDate: @date,
          paths: { reserve: reserve_golf_club_user_reservations_path(params[:id]),
            golfClub:golf_club_path(params[:id]) },
          flights: @result[:flights], queryData: @result[:queryData], insurance_modes:ChargeSchedule.insurance_modes.map{ |k,v| k} }
.container
  .row
    .col-xs-12
      %h2 Location
#map{ :style => "height:70vh; margin-bottom:10px;"}
.container
  .row
    - if !@photos.empty? then
      .col-xs-12
        .grid{ :data => { :'featherlight-gallery' => true, :'featherlight-filter' => 'a'}}
          .grid-sizer
          - @photos.each_with_index do |photo, index|
            - if index == 0 then
              .grid-item.grid-item--width3
                %a{ :href => photo.avatar.url, :'data-caption' => photo.caption }
                  %img{ :src => photo.avatar.thumb400.url }
            - elsif index < 7 then
              .grid-item{ :class => index == 0 ? "grid-item--width2" : ""}
                %a{ :href => photo.avatar.url, :'data-caption' => photo.caption }
                  %img{ :src => photo.avatar.thumb200.url }
            - else
              %a.hidden-xs-up{ :href => photo.avatar.url, :'data-caption' => photo.caption}
    .col-xs-12
      %h2 Ammenities
      .card
        .card-block
          %p.card-text Ammenities list here
          %ul
            - @club.amenity_listings.each do |amenity|
              %ul{ :class => amenity[:available] ? "" : "text-muted"} #{amenity[:label]}
:javascript
  var map;
  var initMap = function(){
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: #{@club.lat} , lng: #{@club.lng} },
        scrollwheel:false,
        zoom: 16
      });

      var golfCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        map: map,
        center: {lat:#{@club.lat}, lng:#{@club.lng} },
        radius: 300
      });
  };
  initMap();

  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    percentPosition: true,
    columnWidth: '.grid-sizer'
  });
  // layout Isotope after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry();
  });
