.container
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      %h2 Review your reservation
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .card
        .card-header
          %h3 Flight
        %ul.list-group.list-group-flush
          %li.list-group-item #{ @club.name }
          %li.list-group-item #{ simple_format(@club.address)}
          %li.list-group-item
            %strong Flight Date
            #{ Date.parse(params[:flight][:date]).strftime("%d/%b/%Y")}
          %li.list-group-item
            %strong Flight Time(s)
            #{ params[:teeTimes].map{|x| x.split(",")[0] }.to_sentence }
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .card
        .card-header Flight Details
        .card-block
          %table.table
            %thead
              %tr
                %th Qty
                %th Item
                %th Total
            %tbody
              %tr
                %td #{ params[:flight][:pax]}
                %td Pax
                %td #{ number_to_currency(params[:price][:pax], { :unit => "RM"}) }
              %tr
                %td #{ params[:flight][:caddy]}
                %td Caddy
                %td #{ number_to_currency(params[:price][:caddy], { :unit => "RM"}) }
              %tr
                %td #{ params[:flight][:cart]}
                %td Buggy
                %td #{ number_to_currency(params[:price][:cart], { :unit => "RM"}) }
              %tr
                %td #{ params[:flight][:insurance]}
                %td Insurance
                %td #{ number_to_currency(params[:price][:insurance], { :unit => "RM"}) }
              %tr
                %td
                %td Grand Total
                %td #{ number_to_currency(params[:price][:total], { :unit => "RM"}) }
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      = form_tag processing_golf_club_user_reservations_path(params[:golf_club_id]) do
        %button.btn.btn-primary{ :type => 'submit'} Proceed to Payment
