.container
  = form_tag processing_golf_club_user_reservations_path(params[:golf_club_id]) do
    .row
      .col-12.col-md-8.col-md-offset-2
        %h2 Review your reservation
    .row
      .col-12.col-md-8.col-md-offset-2
        .card.mb-2
          .card-header
            %h3 Flight
          %ul.list-group.list-group-flush
            %li.list-group-item #{ @club.name }
            %li.list-group-item #{ simple_format(@club.address)}
            %li.list-group-item #{Date.parse(params[:info][:date]).strftime("%d/%b/%Y")}
    .row
      .col-12.col-md-8.col-md-offset-2
        - params[:flight].each_pair do |k,v|
          .card.mb-2
            .card-header #{v[:tee_time]} Flight Details
            .card-block
              %h4 Flight Settings
              %table.table
                %thead
                  %tr
                    %th Qty
                    %th Item
                    %th Total
                %tbody
                  %tr
                    %td #{ v[:count][:pax]}
                    %td Non-Members
                    %td #{ number_to_currency(v[:price][:pax], { :unit => "RM"}) }
                  %tr
                    %td #{ v[:count][:member]}
                    %td Members
                    %td RM 0.00
                  %tr
                    %td #{ v[:count][:caddy]}
                    %td Caddy
                    %td #{ number_to_currency(v[:price][:caddy], { :unit => "RM"}) }
                  %tr
                    %td #{ v[:count][:buggy]}
                    %td Buggy
                    %td #{ number_to_currency(v[:price][:buggy], { :unit => "RM"}) }
                  %tr
                    %td #{ v[:count][:insurance]}
                    %td Insurance
                    %td #{ number_to_currency(v[:price][:insurance], { :unit => "RM"}) }
            - if v[:count][:member].to_i > 0 then
              .card-block
                %p.card-text Members Name and ID will be verified at the Club House during registration.
            .card-block
              %h4 Courses
              %table.table
                %thead
                  %tr
                    %th Tee Time
                    %th Course Name
                %tbody
                  %tr
                    %td #{v[:tee_time]}
                    %td #{@courses.where(:id => v[:courses][:first_course]).first.name}
                  %tr
                    %td #{v[:second_tee_time]}
                    %td #{@courses.where(:id => v[:courses][:second_course]).first.name}
    .row
      .col-12.col-md-8.col-md-offset-2
        %table.table
          %thead
            %tr
              %th Item
              %th Amount
          %tbody
            %tr
              %td Total
              %td  #{number_to_currency(params[:info][:total_price], {:unit => "RM"})}
            %tr
              %td Tax (#{number_to_percentage(@club.tax_schedule.rate*100)})
              %td  #{number_to_currency(params[:info][:tax], {:unit => "RM"})}
            %tr
              %td
                %h3 Grand Total
              %td
                %h3 #{number_to_currency(params[:info][:grand_total], {:unit => "RM"})}
    .row
      .col-12.col-md-8.col-md-offset-2
        %button.btn.btn-primary{ :type => 'submit'} Proceed to Payment
