- content_for(:head){"Reservation #{@reservation.token} - "}
.container
  .row
    .col-12.col-md-6
      .card.mb-2
        - if (@reservation.payment_confirmed? || @reservation.reservation_confirmed?) && !@reservation.token.nil? then
          .card-block
            %img.center-block{ :src => RQRCode::QRCode.new(@reservation.token, :size => 4, :level => :h).to_img.resize(256,256).to_data_url }
        %ul.list-group.list-group-flush
          %li.list-group-item
            %p.mb-0
              %strong Status:
              #{ @reservation.status }
          %li.list-group-item
            %p.mb-0
              %strong Club:
              #{ @reservation.golf_club.name }
          %li.list-group-item
            %p.mb-0
              %strong Flight Date and Time:
              #{ @reservation.booking_date} @ #{@reservation.booking_time.strftime("%H:%M")}
          %li.list-group-item
            %p.mb-0
              %strong Course:
              #{ @reservation.course_listing.name }
          %li.list-group-item
            %p.mb-0
              %strong Location:
              #{ @reservation.golf_club.address }
              #{ link_to "link", "https://google.com.my/maps?q=#{@reservation.golf_club.lat.html_safe},#{@reservation.golf_club.lng.html_safe}", :target => "_blank"}
          - if @reservation.payment_attempted? then
            %li.list-group-item
              %strong Note:
              We detect that you attempting to pay for this booking. If you lost the payment page, please wait around 10 minutes for the booking to be released again
      .card.mb-2
        .card-header Details
        .card-block
          %table.table
            %thead
              %tr
                %th Qty
                %th Item
                %th Total Price
            %tbody
              %tr
                %td #{ @reservation.count_pax }
                %td Non-Member
                %td #{ number_to_currency(@reservation.actual_pax, { :unit => "RM "} )}
              - if @reservation.count_member > 0 then
                %tr
                  %td #{ @reservation.count_member }
                  %td Members
                  %td RM0.00
              %tr
                %td #{ @reservation.count_caddy}
                %td Caddy
                %td #{ number_to_currency(@reservation.actual_caddy, { :unit => "RM "} )}
              %tr
                %td #{ @reservation.count_buggy}
                %td Buggy
                %td #{ number_to_currency(@reservation.actual_buggy, { :unit => "RM "} )}
              %tr
                %td #{ @reservation.count_insurance }
                %td Insurance
                %td #{ number_to_currency(@reservation.actual_insurance, { :unit => "RM "} )}
              %tr
                %td
                %td Tax
                %td #{ number_to_currency(@reservation.actual_tax, { :unit => "RM "} )}
              %tr
                %td{ :colspan => 2}
                  %h4 Total Price:
                %td
                  %h4 #{ number_to_currency(@reservation.total_price, { :unit => "RM "} )}
              %tr
                %td{colspan:3}
                  %p Note
                  %p
                    = @note.nil? || @note.empty? || @note.blank? ? "No note given" : @note
      - if @reservation.count_member > 0 then
        .card
          .card-header Members
          .card-block
            %table.table
              %thead
                %tr
                  %th Name
                  %th ID
              %tbody
                - @reservation.ur_member_details.each do |member_detail|
                  %tr
                    %td #{ member_detail.name }
                    %td #{ member_detail.member_id }
      .card.mb-2
        .card-header Review
        - if @review.nil? then
          - if @show_review_form then
            .card-block
              %p.card-text You haven't review this flight yet.
              %a.btn.btn-primary{ :href => new_user_review_path(current_user, {topic_id:@reservation.id, topic_type:"UserReservation"}) } Review
          - if @allow_to_review then
            .card-block
              %p.card-text You can give your review on this flight around 12 hours after the flight.
          - else
            .card-block
              %p.card-text You may not review this flight
        - else
          %ul.list-group.list-group-flush
            = react_component("ReviewCard", { review:@review})
            - if current_user.id == @review["user_id"] then
              %li.list-group-item
                %a.btn.btn-primary{ :href => edit_user_review_path(current_user, @review["id"],
                  {topic_id:@review["topic_id"],   topic_type:@review["topic_type"]})} Edit Review
