- content_for(:head){ "Your Reservations - "}
.container
  .row
    .col-xs-12.col-md-12
      .card
        .card-header Upcomming Flights
        .card-block
          - if @futureFlights.empty? then
            %p
              You haven't reserved anything yet.
              %a{href:search_path({date:(DateTime.now+1.day).strftime('%d-%m-%Y'), time:'07:00', q:''}) } Find some flights.

          - else
            %table.table.table-responsive-conditional.table-striped
              %thead
                %tr
                  %th Place
                  %th Date and Time
                  %th Status
              %tbody
                - @futureFlights.sort{ |x,y| y.id <=> x.id }.each do |reservation|
                  %tr
                    %td #{ link_to reservation.golf_club.name, user_reservation_path(params[:user_id],reservation) }
                    %td #{ reservation.booking_date }@#{ reservation.booking_time.strftime("%H:%M") }
                    %td #{ reservation.status }
  .row
    .col-xs-12.col-md-12
      .card
        .card-header Past Flights
        .card-block
          - if @pastFlights.nil? || @pastFlights.empty? then
            %p You haven't reserved anything yet
          - else
            %table.table.table-responsive-conditional.table-striped
              %thead
                %tr
                  %th Place
                  %th Date and Time
                  %th Status
              %tbody
                - @pastFlights.sort{ |x,y| y.id <=> x.id }.each do |reservation|
                  %tr
                    %td #{ link_to reservation.golf_club.name, user_reservation_path(params[:user_id],reservation) }
                    %td #{ reservation.booking_date }@#{ reservation.booking_time.strftime("%H:%M") }
                    %td #{ reservation.status }
