.container
  .row
    .col-xs-12.col-md-12
      .card
        .card-header Upcomming Flights
        .card-block
          - if @futureFlights.empty? then
            %p You haven't reserved anything yet
          - else
            %table.table
              %thead
                %tr
                  %th Place
                  %th Date and Time
                  %th Status
              %tbody
                - @futureFlights.each do |reservation|
                  %tr
                    %td #{ link_to reservation.golf_club.name, user_reservation_path(params[:user_id],reservation) }
                    %td #{ reservation.booking_date }@#{ reservation.booking_time.strftime("%H:%M") }
                    %td #{ reservation.status }
  .row
    .col-xs-12.col-md-12
      .card
        .card-header Past Flights
        .card-block
          - if @pastFlights.nil? || @pastFlights.empty? then
            %p You haven't reserved anything yet
          - else
            %table.table
              %thead
                %tr
                  %th Place
                  %th Date and Time
                  %th Status
              %tbody
                - @pastFlights.each do |reservation|
                  %tr
                    %td #{ link_to reservation.golf_club.name, user_reservation_path(params[:user_id],reservation) }
                    %td #{ reservation.booking_date }@#{ reservation.booking_time.strftime("%H:%M") }
                    %td #{ reservation.status }
