!!!!
%html{ :lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1,shrink-to-fit=no'}
    %meta{:'http-equiv' => 'x-ua-compatible', :content => 'ie=edge'}
    %title #{ yield :head } JomGolf
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_ID']}"
  %body
    %nav.navbar
      %button.navbar-toggler.hidden-sm-up{ :type => "button", :data => { :toggle => 'collapse', :target => '#navbar-collapse'}} &#9776;
      .collapse.navbar-toggleable-xs#navbar-collapse
        %a.navbar-brand{ :href => root_path } JomGolf
        %ul.nav.navbar-nav.pull-md-right
          %li.nav-item
            - if user_signed_in? then
              .dropdown
                %a.nav-link{ :href => '#', :'data-toggle' => 'dropdown' } #{current_user.name || current_user.email}
                .dropdown-menu.dropdown-menu-right
                  %a.dropdown-item{ :href => user_reservations_path(current_user)} My Bookings
                  %a.dropdown-item{ :href => user_path(current_user)} My Profile
                  .dropdown-divider
                  = link_to "Log Out", destroy_user_session_path, :method => :delete, :class => 'dropdown-item'
            - else
              %a.nav-link{ :href => '#login-modal', :data => { :toggle => 'modal'} }
                Login
    .container{ :style => ''}
      - flash.each do |name, msg|
        .div.alert{ :class => "alert-#{ flash_class(name)  }" }
          #{ msg.to_s.html_safe }
          %button.close{ :type => 'button', :'aria-label' => 'Close', :'data-dismiss' => 'alert' }
            %span{ :'aria-hidden' => 'true' }  &times;
    = yield
    = insert_paloma_hook
    = render :file => "layouts/modal.template"
    %footer.footer.text-muted
      .container
        %p
          &copy; JomGolf 2016
          &#8226; Terms of service
          &#8226; Privacy Policy
          &#8226; Build #{ NovGolf::REVISION }
